.App {
  height: 100vh !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.appears-1 {
  animation: show-element 1.2s alternate;
}

.appears-2 {
  animation: show-element 1.2s alternate;
}

.appears-3 {
  animation: show-element 1.2s alternate;
  margin-top: 30px;
  padding-left: 15%;
}

h1 {
  margin: 0px;
  padding-left: 15% !important;
  padding-top: 10%;
  padding-bottom: 24px;
  font-size: 40px;
  text-align: start;
}

input {
  height: 40px !important;
}

input::placeholder {
  font-size: 14px;
  color: #282c34;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.search {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
  width: 70%;
}

ul li {
  font-size: 20px;
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes show-element {
  from {
    padding-left: 0px;
    opacity: 0;
  }
  to {
    padding-left: 15%;
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
