
    $primary-dark-pastel:  #4062c9;
    $primary-pastel:  #5c79d7;
    $primary-light-pastel:  #7791e4;
    $secondary-pastel:  #93a8f2;
    $secondary-light-pastel:  #aebfff;
    $secondary-light:  #1358fd;
    $secondary:  #0e4aea;
    $primary-light:  #0a3bd6;
    $primary:  #052dc3;
    $rimary-dark:  #001eaf;